/*
* @Author: sugarman
* @Date:   2018-06-22 11:32:55
* @Last Modified by:   sugarman
* @Last Modified time: 2018-06-25 14:58:13
*/
.btn {
  background-color: red;
  width: 100px;
  height: 40px;
  color: #fff; }
