/*
* @Author: sugarman
* @Date:   2018-06-22 11:32:55
* @Last Modified by:   sugarman
* @Last Modified time: 2018-06-25 14:58:13
*/
$colorBlue:red;

 @import './common/base.scss';


.btn{
	@include px2rem(width,700px);
	@include font-dpr(24px);
	background-color:$colorBlue;
	height:1rem;
	color:#fff;
	text-align: center;
}
